PORT=3000
FABRIC_CHANNEL_NAME=appchannel-etcdraft
FABRIC_CHAINCODE_NAME=basic
FABRIC_MSP_ID=Org1MSP
FABRIC_PEER_ENDPOINT=localhost:7051
FABRIC_PEER_TLS_HOST_OVERRIDE=peer1org1.example.com
FABRIC_TLS_CERT_PATH=/mnt/d/Documents/programming/Blockchain/hyperledger-f/organization/peerOrganizations/org1.example.com/peers/peer1.org1.ravly.com/tls/cacerts/localhost-7054.pem
FABRIC_CLIENT_CERT_PATH=/mnt/d/Documents/programming/Blockchain/hyperledger-f/organization/peerOrganizations/org1.example.com/peers/peer0.org1.ravly.com/msp/signcerts/org1-admin-cert.pem
FABRIC_CLIENT_KEY_PATH=/mnt/d/Documents/programming/Blockchain/hyperledger-f/organization/peerOrganizations/org1.example.com/peers/peer0.org1.ravly.com/msp/keystore/org1-admin-key.pem
